@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
}

/* Navbar component */
.navbar {
  display: flex;
  align-items: center;

  height: 90px;
  padding: 30px 25px;

  background: #21222A;
}

.react-logo{
  height: 30px;
  margin-right: 7px;
}

.page-title {
  margin: 0;
  margin-right: auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  color: #61DAFB;
}

.page-description{
  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #DEEBF8;
}
/* Main component */
.main-page {
  padding: 57px 27px;

  /* actually the image here was already colored and cut in half so I basically hardcoded the offset */
  background-color: #33373e;
  background-image: url("../public/logo192.png");
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: right -130px bottom 100px;
}

.main-title{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.05em;

  color: #FFFFFF;
}

.main-list {
  margin-top: 46px;
  max-width: 400px;
  
  color: #FFFFFF;
}

.main-list > li {
  padding-block: 10px;
}

.main-list>li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}