@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 550px;
  height: 91px;
  left: 0px;
  top: 0px;

  padding: 30px 25px;

  background: #21222A;
}

.react-logo{
  position: absolute;

  width: 30px;
  height: 30px;
  left: 26px;
  top: 31px;
}

.page-description{
  position: absolute;
  margin: 0;
  width: 259px;
  height: 21px;
  left: 264px;
  top: 38px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #DEEBF8;
}

.page-title {
  position: absolute;
  margin: 0;
  margin-right: auto;
  width: 122x;
  height: 22px;
  left: 61.61px;
  top: 31px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;

  color: #61DAFB;
}